<html>
  <head>
    <meta charset='utf-8' />
    <title>Bài viết đã được duyệt</title>
  </head>
  <body>
    <h1>Xin chào {{name}},</h1>
    <p>Bài viết <strong>{{postTitle}}</strong> của bạn đã được duyệt!</p>
    {{#if adminComments}}
      <p>Nhận xét từ Admin: {{adminComments}}</p>
    {{/if}}
    <p>Trân trọng,<br />Đội ngũ Kindora</p>
  </body>
</html>