<html>
  <head>
    <meta charset='utf-8' />
    <title>Thông báo về bài viết</title>
  </head>
  <body>
    <h1>Xin chào {{name}},</h1>
    <p>Rất tiếc, bài viết
      <strong>{{postTitle}}</strong>
      của bạn đã bị từ chối.</p>
    <p>Lý do: {{reason}}</p>
    <p>Trân trọng,<br />Đội ngũ Kindora</p>
  </body>
</html>